<!-- create_post.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Post</title>
</head>
<body>
  <h1>Enter your name:</h1>
  <form action="/" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br><br>
    <lable for="content">Content:</label><br>
    <textarea type="text" id="content" name="content" rows="30" cols="150" required>Write your content here!</textarea><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>